body {
	font-family: 'Microsoft Yahei', "Lato", Helvetica, Arial, sans-serif;
}

.todo li:hover {
        background-color: #2C3E50;
        color: #3498db;
    }

.todo-name {
	transition:.25s;
}

.todo-name:hover {
	color: #3498db;
}

.todo li:first-child {
	text-align: center;
	font-size: 30px;
	color:white;
}


.todo li:last-child {
	border-bottom:1px solid rgb(44, 62, 80);
	border-radius:0;
}

.article {
	background:white; 
	margin-top:40px;
	box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.15);
	border-radius:10px; 
	padding:1 40;
	word-break:break-all;
}

.art-time {
	display:inline; 
	float:right;
}


.art-tag {
	height:1px; 
	border:1px solid #ddd; 
	margin-bottom:10px;
}


.art-footer {
	margin-bottom:25px;
}


.art-ass {
	cursor:default; 
	display:inline; 
	float:right;
}

.read-comment {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.comment-type {
	color:#e7e9ec;
}


.art-tag {
	margin-top: 15px;
}


.art-content {
	margin-bottom: 40px;
}

.label + span  {
	margin-right:5px;
}

.todoa {
	color: white;
}

a {
	cursor: pointer;

}

.index {
	color:rgb(189, 189, 181);
}

code {
	display: block;
}

.myContianer {
	margin-left: 5%;
	margin-right: 5%;
}


.index:hover{
	cursor: default;
	color:rgb(203, 203, 198);
}

.tips {
	border-radius: 10px;
	min-height: 150px;
}

.tipContent {
	margin-top: 20px;
	padding-right: 10px;
}

.powered {
	background-size: 100% 100%;
	height: 50px;
}

.aReply {
	transition: 0.5s;
}

img {
	width: 100%;
}

.verify {
	width: 10%;
}

.avatar {
	width: 100px;
	height: 100px;
}