{% extends "base.html" %}
{% block title %}RaPo404｜Django&Python{% endblock %}
{% block content %}
    <div class="myContianer">
        <div class="article text-center">
            <br/>
            <img class="hidden-lg hidden-md" src="/img/MYLOGOs.png" alt=""/>
            <img class="hidden-sm hidden-xs" src="/img/MYLOGO3.png" alt=""/>
            <br/>
            <br/>
            <h1 style="font-size: 200px;">404</h1>
            <h1>Oops, I LOST IT!</h1>
        </div>
    </div>
{% endblock %}