{% extends "base.html" %}
{% block title %}RaPo关于｜Django&Python{% endblock %}
{% block content %}
    <div class="myContianer">
        <div class="article" style="margin-bottom: 400px;;padding-left: 20px; padding-right: 20px;">
            <h1>关于我</h1>
            <br/>

            <div style="padding-left: 20px;">
                <h4>物联网2015届应届毕业生，22岁。</h4>
                <br/>
                <h4>涉猎过许多语言</h4>
                <br/>
                <h4>以前一直在做wpf与mfc桌面应用开发；</h4>
                <br/>
                <h4>现在扎根于web开发，现在主要进行web后台及服务器运维方面的探索，前端开发不够时也会变成伪全栈前去顶包（没有前端配合的痛＃_#）;</h4>
                <br/>
                <h4>喜欢接触新知识，不一定精通，但新的思路总会给自己新的灵感。</h4>
                <br/>
                <h4>啊，对，本人刀狗一只。</h4>
                <br/>

            </div>
            <h1>关于名字</h1>
            <br/>

            <div style="padding-left: 20px;">
                <h4>很多人问过我的网名什么意思，其实是个我造的词，是我喜欢dota里的一个英雄，幽鬼（spectre）。词头ra是指“辉耀”（radiance），po是指“穷鬼盾”（pool
                    shield），而rapospectre就是有辉耀穷鬼盾的幽鬼，她总是可以扭转战局，以少胜多。</h4>
                <br/>
                <h4>上面名字里那个酷酷的剪影就是我根据幽鬼的形象做的啦～</h4>
            </div>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}