<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="blog"/>
    <link href="/img/header.png" rel="shortcut icon"/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/my-ui.css" rel="stylesheet">
    <link href="/css/wmd.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.5/angular.min.js"></script>
    <title>{% block title %}{{ admintitle }}{% endblock %}</title>
</head>
<body ng-cloak class="ng-cloak" ng-app="adminApp" style="background:#34495E;">
<div>
    <div class="raw">
        <div class="col-md-2 col-sm-2 col-xs-2 "
             style="padding-left:0px;padding-right:0px;background:#34495e; box-shadow: inset -2px -2px -2px rgba(0, 0, 0, 0.15);">
            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                <li role="presentation" class="text-center"><a style="color:orange;"
                                                               href="/blog_admin/blog_admin">博文</a></li>
                <li role="presentation" class="text-center"><a style="color:orange;"
                                                               href="/blog_admin/know_admin">姿势</a></li>
                <li role="presentation" class="text-center"><a style="color:orange;"
                                                               href="/blog_admin/comment_admin">留言</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10" style="background:#E4E0E0;">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="/" title="">返回首页</a></li>
                    <li><a href="#" title="">与我联系</a></li>
                    <li><a href="/admin/" title="">管理登陆</a></li>
                </ul>

            </div>
            <span class="navbar-text navbar-right">Designed by <b><i>RaPoSpectre</i></b> | Copyright 2014</span>
        </footer>
        <script src="/js/blogapp.js"></script>
        <script src="/js/vendor/jquery.min.js"></script>
        <script src="/js/wmd.js"></script>
        <script src="/js/showdown.js"></script>
        <script src="/js/flat-ui.min.js"></script>
        <script src="http://s95.cnzz.com/z_stat.php?id=1254921518&web_id=1254921518" language="JavaScript"></script>
</body>
</html>