{% extends "base.html" %}
{% block title %}RaPo博客｜Django&Python{% endblock %}
{% block style %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% verbatim %}
    <div class="myContianer" ng-controller="labChartController">
        <div class="article">
            <div class="row">
                <div class="col-md-6">
                    <div class="myContianer">
                        <br/>
                        <span>接口访问记录</span>
                        <canvas id="canvasReq" height="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myContianer">
                        <br/>
                        <span>IP访问记录</span>
                        <canvas id="canvasIp" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="/js/chartjs/Chart.js"></script>
    <script>
        blogApp.controller("labChartController", function ($scope, $http) {
            var url = HOST + '/lab/get_chart_info';
            $http.get(url).success(function (response) {
                $scope.req_list = response.body.req_rec;
                $scope.req_count = response.body.req_count;
                $scope.ip_list = response.body.ip_rec;
                $scope.ip_count = response.body.ip_count;
                var radarChartDataReq = {
                    labels: $scope.req_list,
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: $scope.req_count
                        }
                    ]

                };
                var radarChartDataIp = {
                    labels: $scope.ip_list,
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: $scope.ip_count
                        }
                    ]

                };
                var ctx = $('#canvasReq').get(0).getContext("2d");
                var ctx1 = $('#canvasIp').get(0).getContext("2d");
                new Chart(ctx).Radar(radarChartDataReq, {responsive: true});
                new Chart(ctx1).Radar(radarChartDataIp, {responsive: true});
                return 0;
            });
        });
    </script>
{% endblock %}

