{% extends "base.html" %}
{% block title %}RaPo博客｜Django&Python{% endblock %}
{% block style %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% verbatim %}
    <div class="myContianer" ng-controller="labChartController">
        <div class="article">
            <div class="myContianer">
                <canvas id="canvas" height="100"></canvas>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="/js/chartjs/Chart.js"></script>
    <script>
        blogApp.controller("labChartController", function ($scope, $http) {
            var url = HOST + '/lab/get_chart_info';
            $http.get(url).success(function (response) {
                $scope.req_list = response.body.req_rec;
                $scope.req_count = response.body.req_count;
                $scope.ip_list = response.body.ip_rec;
                $scope.ip_count = response.body.ip_count;
                var barChartData = {
                    labels: $scope.read_list,
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: $scope.req_count
                        }
                    ]

                };
                var ctx = $('#canvas').get(0).getContext("2d");
                new Chart(ctx).Bar(barChartData, {responsive: false,
                                  scaleShowGridLines : true});
                return 0;
            });
            return 0;
        });
    </script>
{% endblock %}

