{% extends "base.html" %}
{% block title %}RaPo博客｜Django&Python{% endblock %}
{% block content %}
    {% verbatim %}
    <div class="myContianer" ng-controller="labProxyController">
        <div class="article">
            <div class="myContianer">
                <canvas id="canvas" height="100"></canvas>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="/js/chartjs/Chart.js"></script>
    <script>
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100)
        };
        var randomColorFactor = function () {
            return Math.round(Math.random() * 255)
        };

        var barChartData = {
            labels: ["January", "February", "March"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                }
            ]

        }
        window.onload = function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true
            });
        }

        $('#randomizeData').click(function () {
            barChartData.datasets[0].fillColor = 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
            barChartData.datasets[0].data = [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()];

            barChartData.datasets[1].fillColor = 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
            barChartData.datasets[1].data = [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()];

            window.myBar.update();
        });
    </script>
{% endblock %}

